$TTL 900
@   IN  SOA ns1.erudit.team. info.erudit.org. (
    2015093002 ; serial
    10800 ; refresh
    3600 ; retry
    2419200 ; expire
    3600 ) ; default_ttl

    IN      NS      ns1.erudit.team.
;    IN      NS      dnsp1.dit.umontreal.ca.
;    IN      NS      dnsp2.dit.umontreal.ca.
;    IN      NS      ul-dns-pr-ns03.n.ulaval.ca.
;    IN      NS      ul-dns-pr-ns04.n.ulaval.ca.
 
    IN      MX      10 smtps1.umontreal.ca.
    IN      MX      10 smtps2.umontreal.ca.

erudit.org.             300   IN      A       132.204.8.193
acadiensis.erudit.org.  900   IN      A       132.204.8.227
ae.erudit.org.          900   IN      A       132.204.8.227
ageo.erudit.org.        900   IN      A       132.204.8.227
annuaire.erudit.org.    900   IN      A       132.204.8.227
aor.erudit.org.         900   IN      A       132.204.8.227
approchesind.erudit.org. 900  IN      A       132.204.8.227
apropos.erudit.org.     900   IN      A       132.204.8.227
arbo.erudit.org.        900   IN      A       132.204.8.227
as.erudit.org.          900   IN      A       132.204.8.227
ateliers.erudit.org.    900   IN      A       132.204.8.227
atlantis.erudit.org.    900   IN      A       132.204.8.227
bc.erudit.org.          900   IN      A       132.204.8.227
beta.erudit.org.        300   IN      A       132.204.8.189
beta2.erudit.org.       300   IN      A       132.204.8.189
bhp.erudit.org.         900   IN      A       132.204.8.227
bl.erudit.org.          900   IN      A       132.204.8.227
bshg.erudit.org.        900   IN      A       132.204.8.227
cad.erudit.org.         900   IN      A       132.204.8.227
cb.erudit.org.          900   IN      A       132.204.8.227
cd.erudit.org.          900   IN      A       132.204.8.227
cdd.erudit.org.         900   IN      A       132.204.8.227
cfco.erudit.org.        900   IN      A       132.204.8.227
cgq.erudit.org.         900   IN      A       132.204.8.227
cine.erudit.org.        900   IN      A       132.204.8.227
circuit.erudit.org.     900   IN      A       132.204.8.227
cj.erudit.org.          900   IN      A       132.204.8.227
cmserudit.erudit.org.   900   IN      A       132.204.8.227
continuite.erudit.org.  900   IN      A       132.204.8.227
cqd.erudit.org.         900   IN      A       132.204.8.227
crimino.erudit.org.     900   IN      A       132.204.8.227
crs.erudit.org.         900   IN      A       132.204.8.227
cuizine.erudit.org.     900   IN      A       132.204.8.227
cv.erudit.org.          900   IN      A       132.204.8.227
depot.erudit.org.       300   IN      A       132.204.8.193
documentation.erudit.org. 900 IN      A       132.204.8.227
donnees.erudit.org.     900   IN      A       132.204.8.179
dss.erudit.org.         900   IN      A       132.204.8.227
du.erudit.org.          900   IN      A       132.204.8.227
ef.erudit.org.          900   IN      A       132.204.8.227
efg.erudit.org.         900   IN      A       132.204.8.227
ehr.erudit.org.         900   IN      A       132.204.8.227
ei.erudit.org.          900   IN      A       132.204.8.227
el.erudit.org.          900   IN      A       132.204.8.227
ela.erudit.org.         900   IN      A       132.204.8.227
enfance.erudit.org.     900   IN      A       132.204.8.227
es.erudit.org.          900   IN      A       132.204.8.227
espace.erudit.org.      900   IN      A       132.204.8.227
esse.erudit.org.        900   IN      A       132.204.8.227
etc.erudit.org.         900   IN      A       132.204.8.227
ethno.erudit.org.       900   IN      A       132.204.8.227
etudfr.erudit.org.      900   IN      A       132.204.8.227
etudinuit.erudit.org.   900   IN      A       132.204.8.227
etudlitt.erudit.org.    900   IN      A       132.204.8.227
eue.erudit.org.         900   IN      A       132.204.8.227
euro.erudit.org.        900   IN      A       132.204.8.227
fa.erudit.org.          900   IN      A       132.204.8.227
fili.erudit.org.        900   IN      A       132.204.8.227
fr.erudit.org.          900   IN      A       132.204.8.227
geocan.erudit.org.      900   IN      A       132.204.8.227
globe.erudit.org.       900   IN      A       132.204.8.227
gpq.erudit.org.         900   IN      A       132.204.8.227
haf.erudit.org.         900   IN      A       132.204.8.227
histoire.erudit.org.    900   IN      A       132.204.8.227
hphi.erudit.org.        900   IN      A       132.204.8.227
hq.erudit.org.          900   IN      A       132.204.8.227
id.erudit.org.          300   IN      A       132.204.8.193
ijcs.erudit.org.        900   IN      A       132.204.8.227
ijfe.erudit.org.        900   IN      A       132.204.8.227
im.erudit.org.          900   IN      A       132.204.8.227
images.erudit.org.      900   IN      A       132.204.8.227
inter.erudit.org.       900   IN      A       132.204.8.227
ipme.erudit.org.        900   IN      A       132.204.8.227
is.erudit.org.          900   IN      A       132.204.8.227
jcha.erudit.org.        900   IN      A       132.204.8.227
jcim.erudit.org.        900   IN      A       132.204.8.227
jcs.erudit.org.         900   IN      A       132.204.8.227
jeu.erudit.org.         900   IN      A       132.204.8.227
jnbs.erudit.org.        900   IN      A       132.204.8.227
lecture.erudit.org.     900   IN      A       132.204.8.227
lex.erudit.org.         900   IN      A       132.204.8.227
liaison.erudit.org.     900   IN      A       132.204.8.227
liberte.erudit.org.     900   IN      A       132.204.8.227
linconvenient.erudit.org. 900 IN      A       132.204.8.227
llt.erudit.org.         900   IN      A       132.204.8.227
lq.erudit.org.          900   IN      A       132.204.8.227
ls.erudit.org.          900   IN      A       132.204.8.227
lsp.erudit.org.         900   IN      A       132.204.8.227
ltp.erudit.org.         900   IN      A       132.204.8.227
lumen.erudit.org.       900   IN      A       132.204.8.227
lurelu.erudit.org.      900   IN      A       132.204.8.227
mcr.erudit.org.         900   IN      A       132.204.8.227
mee.erudit.org.         900   IN      A       132.204.8.227
memoires.erudit.org.    900   IN      A       132.204.8.227
mens.erudit.org.        900   IN      A       132.204.8.227
meta.erudit.org.        900   IN      A       132.204.8.227
mgaspesie.erudit.org.   900   IN      A       132.204.8.227
mi.erudit.org.          900   IN      A       132.204.8.227
minling.erudit.org.     900   IN      A       132.204.8.227
mje.erudit.org.         900   IN      A       132.204.8.227
mlj.erudit.org.         900   IN      A       132.204.8.227
modele.erudit.org.      900   IN      A       132.204.8.227
moebius.erudit.org.     900   IN      A       132.204.8.227
ms.erudit.org.          900   IN      A       132.204.8.227
museo.erudit.org.       900   IN      A       132.204.8.227
natcan.erudit.org.      900   IN      A       132.204.8.227
nb.erudit.org.          900   IN      A       132.204.8.227
ncre.erudit.org.        900   IN      A       132.204.8.227
ncs.erudit.org.         900   IN      A       132.204.8.227
nflds.erudit.org.       900   IN      A       132.204.8.227
nps.erudit.org.         900   IN      A       132.204.8.227
npss.erudit.org.        900   IN      A       132.204.8.227
nw.erudit.org.          900   IN      A       132.204.8.227
oai.erudit.org.         900   IN      A       132.204.8.206
pa.erudit.org.          900   IN      A       132.204.8.227
philoso.erudit.org.     900   IN      A       132.204.8.227
phro.erudit.org.        900   IN      A       132.204.8.227
phyto.erudit.org.       900   IN      A       132.204.8.227
pr.erudit.org.          900   IN      A       132.204.8.227
production.erudit.org.  900   IN      A       132.204.8.227
ps.erudit.org.          900   IN      A       132.204.8.227
pv.erudit.org.          900   IN      A       132.204.8.227
qf.erudit.org.          900   IN      A       132.204.8.227
rabaska.erudit.org.     900   IN      A       132.204.8.227
racar.erudit.org.       900   IN      A       132.204.8.227
raq.erudit.org.         900   IN      A       132.204.8.227
ravon.erudit.org.       900   IN      A       132.204.8.227
rbanq.erudit.org.       900   IN      A       132.204.8.227
recma.erudit.org.       900   IN      A       132.204.8.227
ref.erudit.org.         900   IN      A       132.204.8.227
rel.erudit.org.         900   IN      A       132.204.8.227
remest.erudit.org.      900   IN      A       132.204.8.227
rf.erudit.org.          900   IN      A       132.204.8.227
rfdi.erudit.org.        900   IN      A       132.204.8.227
rgd.erudit.org.         900   IN      A       132.204.8.227
ri.erudit.org.          900   IN      A       132.204.8.227
ritpu.erudit.org.       900   IN      A       132.204.8.227
rno.erudit.org.         900   IN      A       132.204.8.227
rql.erudit.org.         900   IN      A       132.204.8.227
rs.erudit.org.          900   IN      A       132.204.8.227
rse.erudit.org.         900   IN      A       132.204.8.227
rseau.erudit.org.       900   IN      A       132.204.8.227
rssi.erudit.org.        900   IN      A       132.204.8.227
rum.erudit.org.         900   IN      A       132.204.8.227
scientia.erudit.org.    900   IN      A       132.204.8.227
scl.erudit.org.         900   IN      A       132.204.8.227
secur.erudit.org.       900   IN      A       132.204.8.46
sequences.erudit.org.   900   IN      A       132.204.8.227
smq.erudit.org.         900   IN      A       132.204.8.227
socsoc.erudit.org.      900   IN      A       132.204.8.227
spirale.erudit.org.     900   IN      A       132.204.8.227
sqrm.erudit.org.        900   IN      A       132.204.8.227
ss.erudit.org.          900   IN      A       132.204.8.227
tce.erudit.org.         900   IN      A       132.204.8.227
telescope.erudit.org.   900   IN      A       132.204.8.227
teoros.erudit.org.      900   IN      A       132.204.8.227
theologi.erudit.org.    900   IN      A       132.204.8.227
transfer.erudit.org.    900   IN      A       132.204.8.187
transfert.erudit.org.   900   IN      A       132.204.8.187
tric.erudit.org.        900   IN      A       132.204.8.227
ttr.erudit.org.         900   IN      A       132.204.8.227
uhr.erudit.org.         900   IN      A       132.204.8.227
va.erudit.org.          900   IN      A       132.204.8.227
vertigo.erudit.org.     900   IN      A       132.204.8.227
vi.erudit.org.          900   IN      A       132.204.8.227
www.erudit.org.         300   IN      A       132.204.8.193
xyz.erudit.org.         900   IN      A       132.204.8.227
z3950.erudit.org.       900   IN      A       132.204.8.193

