# Keep visual indication of potential key compromission
VisualHostKey yes

# Verify via the SSHFP DNS RR that the fingerprint matches
# but still ask for confirmation
VerifyHostKeyDNS ask

# Hash hosts names and IP in the known_hosts file :
# make it harder to map the network in case of intrusion
hashknownhosts yes
