# {{ ansible_managed }}
# Outgoing email settings

production:
  email_delivery:
    delivery_method: :smtp
    smtp_settings:
      address: 127.0.0.1
      port: 25
      domain: erudit.team
# Only set to false for local host with snake-oil ssl certificates
#      enable_starttls_auto: false
#      authentication: :login
#      user_name: redmine@erudit.team
#      password: redmine
